.contenedor{
    padding-top: 5rem;
    width: 80%;
    padding: 1rem 1rem;
    border-radius: 15px;
}
.contenedor h1{
    width: 100%;

}
.contenedor h4{
    padding: .5rem 0;
    margin: 0;
    font-size: 20px;
}
.contenedor input{
    width: 100%;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.contenedor textarea{
    width: 100%;
    font-size: 23px;
    min-height: 6rem;
}
.contenedor button{
    padding: 0;
    margin: 0;
    height: 2rem;
    width: 101%;
    color: white;
    background: transparent;
    font-size: 23px;
    border: solid 2px white;    
}